:root{
	--fonts: "Inconsolata", "Monaco", monospace;
	--body-font-size: 16pt;
}
html,
body {
	padding: 0;
	margin: 0;
	font-size:var(--body-font-size);
	color: #555;
	background-color:#fff;
	font-family: var(--fonts);
	height: 100%;
}
#wrapper {
	min-height: 100%;
	position: relative;
	/*margin:0 auto;*/
}
#header {
	width:100%;
	background-color:#fff;
	text-align: center;
}
#header h1 {
	margin:0;
	display: inline;
	font-weight: 400;
}
#header h2 {
	display: inline;
	color: #cf6a4c;
	font-weight: 400;
}

#header .title {
	padding-top:15px;
	padding-bottom:15px;
}

.navigation {
    text-align: center;
    background-color:#fff;
    font-size:18px;
	padding: 5px 0 5px 0;
}
.navigation ul {
    margin:0;
    padding:0;
    list-style:none;
}
.navigation ul li {
    display:inline;
    padding:0 15px 0 15px;
}
.navigation ul li a {
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    color: #cda869;
}

.navigation ul li a:hover {
    color: #cf6a4c;
}
#small-nav {
    display: none;
}
#content {
    width:90%;
	max-width:800px;
    background-color:#fff;
    padding:10px;
    margin:10px auto;
    min-height:100%;
	padding-bottom:100px;
}
#content a:hover {
	color:#cf6a4c;
}

#content h1, h2, h3, h4 {
	padding-top: 20px;
}

#content h4 {
	padding-bottom:0px;
	margin-bottom:0px;
}

#content th, td {
	border: 1px solid white;
	padding: 5px;
}

footer {
	width:100%;
	/*background-color:#1e1e1e;*/
	text-align: center;
	position:absolute;
	bottom:0;
	left:0;
}

.selected {
	color:#cf6a4c !important;
}

blockquote {
	font-style: italic;
	position: relative;
}

blockquote:before {
	content: "\201C";
	position: absolute;
	font-size: 40px;
	left: -30px;
}

a {
    color: #cda869;
	text-decoration:none;
	padding: 1px;
}

#content code {
	color: #7e7e7e;
	font-family: "Courier New", Courier, monospace;
	font-size:11pt;
}
#content pre {
	background-color: #fff;
	margin-left: 15px;
	padding: 5px;
    white-space: pre;
    display: block;

	/*max-width: 800px;*/
	/*word-wrap: normal;*/
	overflow-x:auto;
}

img {
	max-width: 100%;
}

.text-marker-pink {
	background-color: #ff1868 !important;
    color: #fff !important;
}
.text-marker-blue {
	background-color: #1DA1F2 !important;
    color: #fff !important;
}

.text-marker-black-blue {
	background-color: #000 !important;
    color: #3acaff !important;
}

.text-marker-red {
    background-color: red !important;
    color: #fff !important;
}

.text-marker-orange {
    background-color: #FFA915 !important;
    color: #fff !important;
}

#visitNum {
	color: #cda869;
	float: right;	
}

/* Responsive Styling */
@media only screen and (max-width : 320px) {
	#wrapper {
	width: 100%;
	margin: 0;
	}
	#header {
	width: 96%;
	}
	.navigation ul li {
   	display:block;
   	padding:10px 10px;
	}
	#content {
	width: 90%;
	float: none;
	}
	#footer {
	width: 96%;
	}
}

